In \[1\]:

    import numpy as np 
    import pandas as pd 
    from sklearn import model_selection 
    import seaborn as sns
    from sklearn.linear_model import LinearRegression 
    from sklearn.model_selection import train_test_split

    from sklearn.tree import DecisionTreeRegressor
    from sklearn.ensemble import RandomForestRegressor

    import os
    print(os.listdir("../input"))

    ['autos.csv', 'cnt_km_year_powerPS_minPrice_maxPrice_avgPrice_sdPrice.csv']

In \[2\]:

    train_data = pd.read_csv("../input/autos.csv" ,encoding = "ISO-8859-1" )

In \[3\]:

    print(train_data.shape)

    (371528, 20)

In \[4\]:

    train_data.head()

Out\[4\]:

|     | dateCrawled         | name                            | seller | offerType | price | abtest | vehicleType | yearOfRegistration | gearbox   | powerPS | model | kilometer | monthOfRegistration | fuelType | brand      | notRepairedDamage | dateCreated         | nrOfPictures | postalCode | lastSeen            |
|-----|---------------------|---------------------------------|--------|-----------|-------|--------|-------------|--------------------|-----------|---------|-------|-----------|---------------------|----------|------------|-------------------|---------------------|--------------|------------|---------------------|
| 0   | 2016-03-24 11:52:17 | Golf_3\_1.6                     | privat | Angebot   | 480   | test   | NaN         | 1993               | manuell   | 0       | golf  | 150000    | 0                   | benzin   | volkswagen | NaN               | 2016-03-24 00:00:00 | 0            | 70435      | 2016-04-07 03:16:57 |
| 1   | 2016-03-24 10:58:45 | A5_Sportback_2.7_Tdi            | privat | Angebot   | 18300 | test   | coupe       | 2011               | manuell   | 190     | NaN   | 125000    | 5                   | diesel   | audi       | ja                | 2016-03-24 00:00:00 | 0            | 66954      | 2016-04-07 01:46:50 |
| 2   | 2016-03-14 12:52:21 | Jeep_Grand_Cherokee\_"Overland" | privat | Angebot   | 9800  | test   | suv         | 2004               | automatik | 163     | grand | 125000    | 8                   | diesel   | jeep       | NaN               | 2016-03-14 00:00:00 | 0            | 90480      | 2016-04-05 12:47:46 |
| 3   | 2016-03-17 16:54:04 | GOLF_4\_1_4\_\_3TÜRER           | privat | Angebot   | 1500  | test   | kleinwagen  | 2001               | manuell   | 75      | golf  | 150000    | 6                   | benzin   | volkswagen | nein              | 2016-03-17 00:00:00 | 0            | 91074      | 2016-03-17 17:40:17 |
| 4   | 2016-03-31 17:25:20 | Skoda_Fabia_1.4_TDI_PD_Classic  | privat | Angebot   | 3600  | test   | kleinwagen  | 2008               | manuell   | 69      | fabia | 90000     | 7                   | diesel   | skoda      | nein              | 2016-03-31 00:00:00 | 0            | 60437      | 2016-04-06 10:17:21 |

In \[5\]:

    train_data.describe()

Out\[5\]:

|       | price        | yearOfRegistration | powerPS       | kilometer     | monthOfRegistration | nrOfPictures | postalCode   |
|-------|--------------|--------------------|---------------|---------------|---------------------|--------------|--------------|
| count | 3.715280e+05 | 371528.000000      | 371528.000000 | 371528.000000 | 371528.000000       | 371528.0     | 371528.00000 |
| mean  | 1.729514e+04 | 2004.577997        | 115.549477    | 125618.688228 | 5.734445            | 0.0          | 50820.66764  |
| std   | 3.587954e+06 | 92.866598          | 192.139578    | 40112.337051  | 3.712412            | 0.0          | 25799.08247  |
| min   | 0.000000e+00 | 1000.000000        | 0.000000      | 5000.000000   | 0.000000            | 0.0          | 1067.00000   |
| 25%   | 1.150000e+03 | 1999.000000        | 70.000000     | 125000.000000 | 3.000000            | 0.0          | 30459.00000  |
| 50%   | 2.950000e+03 | 2003.000000        | 105.000000    | 150000.000000 | 6.000000            | 0.0          | 49610.00000  |
| 75%   | 7.200000e+03 | 2008.000000        | 150.000000    | 150000.000000 | 9.000000            | 0.0          | 71546.00000  |
| max   | 2.147484e+09 | 9999.000000        | 20000.000000  | 150000.000000 | 12.000000           | 0.0          | 99998.00000  |

In \[6\]:

    train_data.isnull().sum()

Out\[6\]:

    dateCrawled                0
    name                       0
    seller                     0
    offerType                  0
    price                      0
    abtest                     0
    vehicleType            37869
    yearOfRegistration         0
    gearbox                20209
    powerPS                    0
    model                  20484
    kilometer                  0
    monthOfRegistration        0
    fuelType               33386
    brand                      0
    notRepairedDamage      72060
    dateCreated                0
    nrOfPictures               0
    postalCode                 0
    lastSeen                   0
    dtype: int64

## Удаление ненужных данных<a href="#%D0%A3%D0%B4%D0%B0%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BD%D0%B5%D0%BD%D1%83%D0%B6%D0%BD%D1%8B%D1%85-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85" class="anchor-link">¶</a>

In \[7\]:

    train_data["seller"].value_counts()

Out\[7\]:

    privat        371525
    gewerblich         3
    Name: seller, dtype: int64

In \[8\]:

    del train_data["seller"]

In \[9\]:

    train_data["offerType"].value_counts()

Out\[9\]:

    Angebot    371516
    Gesuch         12
    Name: offerType, dtype: int64

In \[10\]:

    del train_data["offerType"]

In \[11\]:

    train_data.head(3) 

Out\[11\]:

|     | dateCrawled         | name                            | price | abtest | vehicleType | yearOfRegistration | gearbox   | powerPS | model | kilometer | monthOfRegistration | fuelType | brand      | notRepairedDamage | dateCreated         | nrOfPictures | postalCode | lastSeen            |
|-----|---------------------|---------------------------------|-------|--------|-------------|--------------------|-----------|---------|-------|-----------|---------------------|----------|------------|-------------------|---------------------|--------------|------------|---------------------|
| 0   | 2016-03-24 11:52:17 | Golf_3\_1.6                     | 480   | test   | NaN         | 1993               | manuell   | 0       | golf  | 150000    | 0                   | benzin   | volkswagen | NaN               | 2016-03-24 00:00:00 | 0            | 70435      | 2016-04-07 03:16:57 |
| 1   | 2016-03-24 10:58:45 | A5_Sportback_2.7_Tdi            | 18300 | test   | coupe       | 2011               | manuell   | 190     | NaN   | 125000    | 5                   | diesel   | audi       | ja                | 2016-03-24 00:00:00 | 0            | 66954      | 2016-04-07 01:46:50 |
| 2   | 2016-03-14 12:52:21 | Jeep_Grand_Cherokee\_"Overland" | 9800  | test   | suv         | 2004               | automatik | 163     | grand | 125000    | 8                   | diesel   | jeep       | NaN               | 2016-03-14 00:00:00 | 0            | 90480      | 2016-04-05 12:47:46 |

In \[12\]:

    train_data["nrOfPictures"].value_counts()

Out\[12\]:

    0    371528
    Name: nrOfPictures, dtype: int64

In \[13\]:

    del train_data["nrOfPictures"]

In \[14\]:

    train_data["abtest"].value_counts()

Out\[14\]:

    test       192585
    control    178943
    Name: abtest, dtype: int64

In \[15\]:

    del train_data["abtest"]

In \[16\]:

    train_data[ ["dateCrawled","dateCreated","lastSeen"] ].head()

Out\[16\]:

|     | dateCrawled         | dateCreated         | lastSeen            |
|-----|---------------------|---------------------|---------------------|
| 0   | 2016-03-24 11:52:17 | 2016-03-24 00:00:00 | 2016-04-07 03:16:57 |
| 1   | 2016-03-24 10:58:45 | 2016-03-24 00:00:00 | 2016-04-07 01:46:50 |
| 2   | 2016-03-14 12:52:21 | 2016-03-14 00:00:00 | 2016-04-05 12:47:46 |
| 3   | 2016-03-17 16:54:04 | 2016-03-17 00:00:00 | 2016-03-17 17:40:17 |
| 4   | 2016-03-31 17:25:20 | 2016-03-31 00:00:00 | 2016-04-06 10:17:21 |

удалим даты объявлений

In \[17\]:

    train_data = train_data.drop(["dateCrawled","dateCreated","lastSeen"] , axis=1 )

In \[18\]:

    train_data.head()

Out\[18\]:

|     | name                            | price | vehicleType | yearOfRegistration | gearbox   | powerPS | model | kilometer | monthOfRegistration | fuelType | brand      | notRepairedDamage | postalCode |
|-----|---------------------------------|-------|-------------|--------------------|-----------|---------|-------|-----------|---------------------|----------|------------|-------------------|------------|
| 0   | Golf_3\_1.6                     | 480   | NaN         | 1993               | manuell   | 0       | golf  | 150000    | 0                   | benzin   | volkswagen | NaN               | 70435      |
| 1   | A5_Sportback_2.7_Tdi            | 18300 | coupe       | 2011               | manuell   | 190     | NaN   | 125000    | 5                   | diesel   | audi       | ja                | 66954      |
| 2   | Jeep_Grand_Cherokee\_"Overland" | 9800  | suv         | 2004               | automatik | 163     | grand | 125000    | 8                   | diesel   | jeep       | NaN               | 90480      |
| 3   | GOLF_4\_1_4\_\_3TÜRER           | 1500  | kleinwagen  | 2001               | manuell   | 75      | golf  | 150000    | 6                   | benzin   | volkswagen | nein              | 91074      |
| 4   | Skoda_Fabia_1.4_TDI_PD_Classic  | 3600  | kleinwagen  | 2008               | manuell   | 69      | fabia | 90000     | 7                   | diesel   | skoda      | nein              | 60437      |

In \[19\]:

    train_data["name"].head()

Out\[19\]:

    0                        Golf_3_1.6
    1              A5_Sportback_2.7_Tdi
    2    Jeep_Grand_Cherokee_"Overland"
    3                GOLF_4_1_4__3TÜRER
    4    Skoda_Fabia_1.4_TDI_PD_Classic
    Name: name, dtype: object

In \[20\]:

    del train_data["name"]

In \[21\]:

    train_data.isnull().sum()

Out\[21\]:

    price                      0
    vehicleType            37869
    yearOfRegistration         0
    gearbox                20209
    powerPS                    0
    model                  20484
    kilometer                  0
    monthOfRegistration        0
    fuelType               33386
    brand                      0
    notRepairedDamage      72060
    postalCode                 0
    dtype: int64

## заполним NULL данные<a href="#%D0%B7%D0%B0%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D0%BC-NULL-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5" class="anchor-link">¶</a>

## 1) gearbox<a href="#1)-gearbox" class="anchor-link">¶</a>

## 2) notRepairedDamage<a href="#2)-notRepairedDamage" class="anchor-link">¶</a>

## 3) fuelType<a href="#3)-fuelType" class="anchor-link">¶</a>

## 4) VehicleType<a href="#4)-VehicleType" class="anchor-link">¶</a>

## 5) Model<a href="#5)-Model" class="anchor-link">¶</a>

In \[22\]:

    train_data["gearbox"].value_counts()

Out\[22\]:

    manuell      274214
    automatik     77105
    Name: gearbox, dtype: int64

In \[23\]:

    train_data["brand"].isnull().sum()

Out\[23\]:

    0

In \[24\]:

    train_data.groupby("brand")["gearbox"].value_counts()

Out\[24\]:

    brand           gearbox  
    alfa_romeo      manuell       2064
                    automatik      146
    audi            manuell      20841
                    automatik    10698
    bmw             manuell      25323
                    automatik    13442
    chevrolet       manuell       1104
                    automatik      634
    chrysler        automatik      753
                    manuell        637
    citroen         manuell       4304
                    automatik      604
    dacia           manuell        877
                    automatik        1
    daewoo          manuell        475
                    automatik       33
    daihatsu        manuell        667
                    automatik       85
    fiat            manuell       8786
                    automatik      231
    ford            manuell      22198
                    automatik     1953
    honda           manuell       2393
                    automatik      318
    hyundai         manuell       3091
                    automatik      421
    jaguar          automatik      477
                    manuell        118
    jeep            automatik      542
                    manuell        232
                                 ...  
    peugeot         manuell       9896
                    automatik      637
    porsche         manuell       1203
                    automatik      880
    renault         manuell      15605
                    automatik     1252
    rover           manuell        412
                    automatik       46
    saab            manuell        391
                    automatik      124
    seat            manuell       6396
                    automatik      318
    skoda           manuell       4840
                    automatik      663
    smart           automatik     3626
                    manuell        708
    sonstige_autos  manuell       1496
                    automatik     1322
    subaru          manuell        620
                    automatik      126
    suzuki          manuell       2018
                    automatik      184
    toyota          manuell       3913
                    automatik      606
    trabant         manuell        365
                    automatik        2
    volkswagen      manuell      64655
                    automatik    10264
    volvo           manuell       2217
                    automatik      991
    Name: gearbox, Length: 80, dtype: int64

In \[25\]:

    gearbox = train_data["gearbox"].unique()
    brand = train_data["brand"].unique()
    d = {}

    for i in brand :
        m = 0
        for j in gearbox :
            if train_data[(train_data.gearbox == j) & (train_data.brand == i)].shape[0] > m :
                m = train_data[(train_data.gearbox == j) & (train_data.brand == i)].shape[0]
                d[i] = j

In \[26\]:

    for i in brand :
        train_data.loc[(train_data.brand == i) & (train_data.gearbox.isnull()) ,"gearbox" ] = d[i]

In \[27\]:

    train_data["gearbox"].isnull().sum()

Out\[27\]:

    0

## notRepairedDamage заполним null отрицательными значениями<a href="#notRepairedDamage-%D0%B7%D0%B0%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D0%BC-null-%D0%BE%D1%82%D1%80%D0%B8%D1%86%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%BC%D0%B8-%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%D0%BC%D0%B8" class="anchor-link">¶</a>

In \[28\]:

    train_data["notRepairedDamage"].value_counts()

Out\[28\]:

    nein    263182
    ja       36286
    Name: notRepairedDamage, dtype: int64

In \[29\]:

    train_data["notRepairedDamage"].isnull().sum()

Out\[29\]:

    72060

In \[30\]:

    train_data["notRepairedDamage"].fillna("nein",inplace = True)

In \[31\]:

    train_data["notRepairedDamage"].isnull().sum()

Out\[31\]:

    0

In \[32\]:

    train_data["fuelType"].value_counts()

Out\[32\]:

    benzin     223857
    diesel     107746
    lpg          5378
    cng           571
    hybrid        278
    andere        208
    elektro       104
    Name: fuelType, dtype: int64

In \[33\]:

    train_data["fuelType"].fillna("benzin",inplace = True)

In \[34\]:

    train_data.isnull().sum()

Out\[34\]:

    price                      0
    vehicleType            37869
    yearOfRegistration         0
    gearbox                    0
    powerPS                    0
    model                  20484
    kilometer                  0
    monthOfRegistration        0
    fuelType                   0
    brand                      0
    notRepairedDamage          0
    postalCode                 0
    dtype: int64

In \[35\]:

    train_data["vehicleType"].value_counts()

Out\[35\]:

    limousine     95894
    kleinwagen    80023
    kombi         67564
    bus           30201
    cabrio        22898
    coupe         19015
    suv           14707
    andere         3357
    Name: vehicleType, dtype: int64

In \[36\]:

    train_data.groupby("fuelType")["vehicleType"].value_counts()

Out\[36\]:

    fuelType  vehicleType
    andere    limousine         51
              andere            44
              kleinwagen        29
              kombi             25
              bus               10
              suv                9
              cabrio             6
              coupe              3
    benzin    kleinwagen     72531
              limousine      66300
              kombi          31350
              cabrio         20769
              coupe          15935
              bus            10795
              suv             5400
              andere          1786
    cng       bus              240
              kombi            136
              kleinwagen        80
              limousine         40
              andere            14
              suv                4
              cabrio             3
              coupe              3
    diesel    kombi          34848
              limousine      27648
              bus            18622
              suv             8665
              kleinwagen      6808
              coupe           2737
              cabrio          1871
              andere          1469
    elektro   kleinwagen        51
              limousine         15
              andere            12
              coupe              7
              cabrio             6
              kombi              5
              suv                3
              bus                1
    hybrid    limousine        151
              kleinwagen        38
              kombi             27
              suv               20
              coupe             18
              bus                6
              andere             2
    lpg       limousine       1689
              kombi           1173
              suv              606
              bus              527
              kleinwagen       486
              coupe            312
              cabrio           243
              andere            30
    Name: vehicleType, dtype: int64

заполняем тип автомобиля по типу топлива

In \[37\]:

    vehicleType = train_data["vehicleType"].unique()
    fuelType = train_data["fuelType"].unique()
    print(fuelType)
    print(vehicleType)

    vehicleType = np.delete(vehicleType,0)

    ['benzin' 'diesel' 'lpg' 'andere' 'hybrid' 'cng' 'elektro']
    [nan 'coupe' 'suv' 'kleinwagen' 'limousine' 'cabrio' 'bus' 'kombi' 'andere']

In \[38\]:

    d = {}
    for i in fuelType :
        m = 0
        for j in vehicleType :
            if train_data[(train_data.vehicleType == j) & (train_data.fuelType == i)].shape[0] > m :
                m = train_data[(train_data.vehicleType == j) & (train_data.fuelType == i)].shape[0]
                d[i] = j

In \[39\]:

    for i in fuelType :
        train_data.loc[(train_data.fuelType == i) & (train_data.vehicleType.isnull()) ,"vehicleType" ] = d[i]

In \[40\]:

    train_data["vehicleType"].isnull().sum()

Out\[40\]:

    0

In \[41\]:

    len(train_data["model"].unique())

Out\[41\]:

    252

заполнение нулей в модели средним значением

In \[42\]:

    train_data["model"].unique()[0]

Out\[42\]:

    'golf'

In \[43\]:

    train_data["model"].fillna("golf",inplace =True)

In \[44\]:

    train_data.isnull().sum()

Out\[44\]:

    price                  0
    vehicleType            0
    yearOfRegistration     0
    gearbox                0
    powerPS                0
    model                  0
    kilometer              0
    monthOfRegistration    0
    fuelType               0
    brand                  0
    notRepairedDamage      0
    postalCode             0
    dtype: int64

In \[45\]:

    del train_data["postalCode"]

## преобразование классов в числовые значения<a href="#%D0%BF%D1%80%D0%B5%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D0%BA%D0%BB%D0%B0%D1%81%D1%81%D0%BE%D0%B2-%D0%B2-%D1%87%D0%B8%D1%81%D0%BB%D0%BE%D0%B2%D1%8B%D0%B5-%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F" class="anchor-link">¶</a>

In \[46\]:

    from sklearn.preprocessing import LabelEncoder

In \[74\]:

    data = train_data.copy()

In \[48\]:

    data.to_csv('cars.csv')

In \[75\]:

    le = LabelEncoder()
    data["vehicleType"] = le.fit_transform(data["vehicleType"])

значения типов машин (номер равен номеру в массиве с 0)

In \[51\]:

    le.classes_

Out\[51\]:

    array(['andere', 'bus', 'cabrio', 'coupe', 'kleinwagen', 'kombi',
           'limousine', 'suv'], dtype=object)

In \[76\]:

    for i in range(0, len(le.classes_)):
        print(i, le.classes_[i])

    0 andere
    1 bus
    2 cabrio
    3 coupe
    4 kleinwagen
    5 kombi
    6 limousine
    7 suv

In \[77\]:

    le = LabelEncoder()
    data["fuelType"] =le.fit_transform(data["fuelType"])

значения типов топлива (номер равен номеру в массиве с 0)

In \[53\]:

    le.classes_

Out\[53\]:

    array(['andere', 'benzin', 'cng', 'diesel', 'elektro', 'hybrid', 'lpg'], dtype=object)

In \[78\]:

    for i in range(0, len(le.classes_)):
        print(i, le.classes_[i])

    0 andere
    1 benzin
    2 cng
    3 diesel
    4 elektro
    5 hybrid
    6 lpg

In \[ \]:

    значения типов коробки передач (номер равен номеру в массиве с 0)

In \[79\]:

    le = LabelEncoder()
    data["gearbox"] =le.fit_transform(data["gearbox"])
    le.classes_

Out\[79\]:

    array(['automatik', 'manuell'], dtype=object)

In \[80\]:

    for i in range(0, len(le.classes_)):
        print(i, le.classes_[i])

    0 automatik
    1 manuell

есть не устраненные проблемы - 1, нет - 0

In \[55\]:

    le = LabelEncoder()
    data["notRepairedDamage"] =le.fit_transform(data["notRepairedDamage"])
    le.classes_

Out\[55\]:

    array(['ja', 'nein'], dtype=object)

In \[82\]:

    print('0', 'No')
    print('1', 'Yes')

    0 No
    1 Yes

значения брендов (номер равен номеру в массиве с 0)

In \[83\]:

    le = LabelEncoder()
    data["brand"] =le.fit_transform(data["brand"])
    le.classes_

Out\[83\]:

    array(['alfa_romeo', 'audi', 'bmw', 'chevrolet', 'chrysler', 'citroen',
           'dacia', 'daewoo', 'daihatsu', 'fiat', 'ford', 'honda', 'hyundai',
           'jaguar', 'jeep', 'kia', 'lada', 'lancia', 'land_rover', 'mazda',
           'mercedes_benz', 'mini', 'mitsubishi', 'nissan', 'opel', 'peugeot',
           'porsche', 'renault', 'rover', 'saab', 'seat', 'skoda', 'smart',
           'sonstige_autos', 'subaru', 'suzuki', 'toyota', 'trabant',
           'volkswagen', 'volvo'], dtype=object)

In \[84\]:

    for i in range(0, len(le.classes_)):
        print(i, le.classes_[i])

    0 alfa_romeo
    1 audi
    2 bmw
    3 chevrolet
    4 chrysler
    5 citroen
    6 dacia
    7 daewoo
    8 daihatsu
    9 fiat
    10 ford
    11 honda
    12 hyundai
    13 jaguar
    14 jeep
    15 kia
    16 lada
    17 lancia
    18 land_rover
    19 mazda
    20 mercedes_benz
    21 mini
    22 mitsubishi
    23 nissan
    24 opel
    25 peugeot
    26 porsche
    27 renault
    28 rover
    29 saab
    30 seat
    31 skoda
    32 smart
    33 sonstige_autos
    34 subaru
    35 suzuki
    36 toyota
    37 trabant
    38 volkswagen
    39 volvo

значения моделей (номер равен номеру в массиве с 0)

In \[58\]:

    le = LabelEncoder()
    data["model"] =le.fit_transform(data["model"])
    le.classes_

Out\[58\]:

    array(['100', '145', '147', '156', '159', '1_reihe', '1er', '200',
           '2_reihe', '300c', '3_reihe', '3er', '4_reihe', '500', '5_reihe',
           '5er', '601', '6_reihe', '6er', '7er', '80', '850', '90', '900',
           '9000', '911', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a8', 'a_klasse',
           'accord', 'agila', 'alhambra', 'almera', 'altea', 'amarok',
           'andere', 'antara', 'arosa', 'astra', 'auris', 'avensis', 'aveo',
           'aygo', 'b_klasse', 'b_max', 'beetle', 'berlingo', 'bora',
           'boxster', 'bravo', 'c1', 'c2', 'c3', 'c4', 'c5', 'c_klasse',
           'c_max', 'c_reihe', 'caddy', 'calibra', 'captiva', 'carisma',
           'carnival', 'cayenne', 'cc', 'ceed', 'charade', 'cherokee',
           'citigo', 'civic', 'cl', 'clio', 'clk', 'clubman', 'colt', 'combo',
           'cooper', 'cordoba', 'corolla', 'corsa', 'cr_reihe', 'croma',
           'crossfire', 'cuore', 'cx_reihe', 'defender', 'delta', 'discovery',
           'discovery_sport', 'doblo', 'ducato', 'duster', 'e_klasse',
           'elefantino', 'eos', 'escort', 'espace', 'exeo', 'fabia', 'fiesta',
           'focus', 'forester', 'forfour', 'fortwo', 'fox', 'freelander',
           'fusion', 'g_klasse', 'galant', 'galaxy', 'getz', 'gl', 'glk',
           'golf', 'grand', 'i3', 'i_reihe', 'ibiza', 'impreza', 'insignia',
           'jazz', 'jetta', 'jimny', 'juke', 'justy', 'ka', 'kadett', 'kaefer',
           'kalina', 'kalos', 'kangoo', 'kappa', 'kuga', 'laguna', 'lancer',
           'lanos', 'legacy', 'leon', 'lodgy', 'logan', 'lupo', 'lybra',
           'm_klasse', 'm_reihe', 'materia', 'matiz', 'megane', 'meriva',
           'micra', 'mii', 'modus', 'mondeo', 'move', 'musa', 'mustang',
           'mx_reihe', 'navara', 'niva', 'note', 'nubira', 'octavia', 'omega',
           'one', 'outlander', 'pajero', 'panda', 'passat', 'phaeton',
           'picanto', 'polo', 'primera', 'ptcruiser', 'punto', 'q3', 'q5',
           'q7', 'qashqai', 'r19', 'range_rover', 'range_rover_evoque',
           'range_rover_sport', 'rangerover', 'rav', 'rio', 'roadster',
           'roomster', 'rx_reihe', 's60', 's_klasse', 's_max', 's_type',
           'samara', 'sandero', 'santa', 'scenic', 'scirocco', 'seicento',
           'serie_1', 'serie_2', 'serie_3', 'sharan', 'signum', 'sirion', 'sl',
           'slk', 'sorento', 'spark', 'spider', 'sportage', 'sprinter',
           'stilo', 'superb', 'swift', 'terios', 'tigra', 'tiguan', 'toledo',
           'touareg', 'touran', 'transit', 'transporter', 'tt', 'tucson',
           'twingo', 'up', 'v40', 'v50', 'v60', 'v70', 'v_klasse', 'vectra',
           'verso', 'viano', 'vito', 'vivaro', 'voyager', 'wrangler',
           'x_reihe', 'x_trail', 'x_type', 'xc_reihe', 'yaris', 'yeti',
           'ypsilon', 'z_reihe', 'zafira'], dtype=object)

In \[73\]:

    for i in range(0, len(le.classes_)):
        print(i, le.classes_[i])

    0 100
    1 145
    2 147
    3 156
    4 159
    5 1_reihe
    6 1er
    7 200
    8 2_reihe
    9 300c
    10 3_reihe
    11 3er
    12 4_reihe
    13 500
    14 5_reihe
    15 5er
    16 601
    17 6_reihe
    18 6er
    19 7er
    20 80
    21 850
    22 90
    23 900
    24 9000
    25 911
    26 a1
    27 a2
    28 a3
    29 a4
    30 a5
    31 a6
    32 a8
    33 a_klasse
    34 accord
    35 agila
    36 alhambra
    37 almera
    38 altea
    39 amarok
    40 andere
    41 antara
    42 arosa
    43 astra
    44 auris
    45 avensis
    46 aveo
    47 aygo
    48 b_klasse
    49 b_max
    50 beetle
    51 berlingo
    52 bora
    53 boxster
    54 bravo
    55 c1
    56 c2
    57 c3
    58 c4
    59 c5
    60 c_klasse
    61 c_max
    62 c_reihe
    63 caddy
    64 calibra
    65 captiva
    66 carisma
    67 carnival
    68 cayenne
    69 cc
    70 ceed
    71 charade
    72 cherokee
    73 citigo
    74 civic
    75 cl
    76 clio
    77 clk
    78 clubman
    79 colt
    80 combo
    81 cooper
    82 cordoba
    83 corolla
    84 corsa
    85 cr_reihe
    86 croma
    87 crossfire
    88 cuore
    89 cx_reihe
    90 defender
    91 delta
    92 discovery
    93 discovery_sport
    94 doblo
    95 ducato
    96 duster
    97 e_klasse
    98 elefantino
    99 eos
    100 escort
    101 espace
    102 exeo
    103 fabia
    104 fiesta
    105 focus
    106 forester
    107 forfour
    108 fortwo
    109 fox
    110 freelander
    111 fusion
    112 g_klasse
    113 galant
    114 galaxy
    115 getz
    116 gl
    117 glk
    118 golf
    119 grand
    120 i3
    121 i_reihe
    122 ibiza
    123 impreza
    124 insignia
    125 jazz
    126 jetta
    127 jimny
    128 juke
    129 justy
    130 ka
    131 kadett
    132 kaefer
    133 kalina
    134 kalos
    135 kangoo
    136 kappa
    137 kuga
    138 laguna
    139 lancer
    140 lanos
    141 legacy
    142 leon
    143 lodgy
    144 logan
    145 lupo
    146 lybra
    147 m_klasse
    148 m_reihe
    149 materia
    150 matiz
    151 megane
    152 meriva
    153 micra
    154 mii
    155 modus
    156 mondeo
    157 move
    158 musa
    159 mustang
    160 mx_reihe
    161 navara
    162 niva
    163 note
    164 nubira
    165 octavia
    166 omega
    167 one
    168 outlander
    169 pajero
    170 panda
    171 passat
    172 phaeton
    173 picanto
    174 polo
    175 primera
    176 ptcruiser
    177 punto
    178 q3
    179 q5
    180 q7
    181 qashqai
    182 r19
    183 range_rover
    184 range_rover_evoque
    185 range_rover_sport
    186 rangerover
    187 rav
    188 rio
    189 roadster
    190 roomster
    191 rx_reihe
    192 s60
    193 s_klasse
    194 s_max
    195 s_type
    196 samara
    197 sandero
    198 santa
    199 scenic
    200 scirocco
    201 seicento
    202 serie_1
    203 serie_2
    204 serie_3
    205 sharan
    206 signum
    207 sirion
    208 sl
    209 slk
    210 sorento
    211 spark
    212 spider
    213 sportage
    214 sprinter
    215 stilo
    216 superb
    217 swift
    218 terios
    219 tigra
    220 tiguan
    221 toledo
    222 touareg
    223 touran
    224 transit
    225 transporter
    226 tt
    227 tucson
    228 twingo
    229 up
    230 v40
    231 v50
    232 v60
    233 v70
    234 v_klasse
    235 vectra
    236 verso
    237 viano
    238 vito
    239 vivaro
    240 voyager
    241 wrangler
    242 x_reihe
    243 x_trail
    244 x_type
    245 xc_reihe
    246 yaris
    247 yeti
    248 ypsilon
    249 z_reihe
    250 zafira

In \[59\]:

    data.head()

Out\[59\]:

|     | price | vehicleType | yearOfRegistration | gearbox | powerPS | model | kilometer | monthOfRegistration | fuelType | brand | notRepairedDamage |
|-----|-------|-------------|--------------------|---------|---------|-------|-----------|---------------------|----------|-------|-------------------|
| 0   | 480   | 4           | 1993               | 1       | 0       | 118   | 150000    | 0                   | 1        | 38    | 1                 |
| 1   | 18300 | 3           | 2011               | 1       | 190     | 118   | 125000    | 5                   | 3        | 1     | 0                 |
| 2   | 9800  | 7           | 2004               | 0       | 163     | 119   | 125000    | 8                   | 3        | 14    | 1                 |
| 3   | 1500  | 4           | 2001               | 1       | 75      | 118   | 150000    | 6                   | 1        | 38    | 1                 |
| 4   | 3600  | 4           | 2008               | 1       | 69      | 103   | 90000     | 7                   | 3        | 31    | 1                 |

In \[61\]:

    data["yearOfRegistration"].describe()

Out\[61\]:

    count    371528.000000
    mean       2004.577997
    std          92.866598
    min        1000.000000
    25%        1999.000000
    50%        2003.000000
    75%        2008.000000
    max        9999.000000
    Name: yearOfRegistration, dtype: float64

In \[62\]:

    data[data.yearOfRegistration > 2018].shape

Out\[62\]:

    (141, 11)

In \[63\]:

    data[data.yearOfRegistration < 1980].shape

Out\[63\]:

    (4119, 11)

In \[64\]:

    data = data[(data.yearOfRegistration < 2018)  & (data.yearOfRegistration > 1980)]

In \[65\]:

    data["price"].describe()

Out\[65\]:

    count    3.626460e+05
    mean     1.667560e+04
    std      3.623628e+06
    min      0.000000e+00
    25%      1.150000e+03
    50%      2.950000e+03
    75%      7.100000e+03
    max      2.147484e+09
    Name: price, dtype: float64

удалим записи с невозможным значением цены

In \[66\]:

    data[data.price < 100].shape

Out\[66\]:

    (12570, 11)

In \[67\]:

    data[data.price > 200000].shape

Out\[67\]:

    (140, 11)

In \[68\]:

    data = data[(data.price > 100) & (data.price < 200000) ]

In \[69\]:

    data.to_csv('carsdata.csv') 

In \[ \]:

     

In \[ \]:

     

In \[ \]: